Source: opp
Priority: extra
Section: misc
Maintainer: Cinema Ouvert du Cinéma <dev@cinemaouvert.fr>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.3
Section: libs
Homepage: http://cinemaouvert.fr

Package: opp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Open Projection Program